/*@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');*/

.card-item {
	position: relative;
	/*font-family: 'Arsenal', sans-serif;*/
	font-family: Verdana, Geneva, sans-serif;
	transition: transform .4s ease;
}

.card-item:hover {
	transform: translateY(-25px)
}
.card-item .catalog__card > .card-body {
	border: 1px solid #dce0e0;
	background: #ffffff;
}

.card-item:hover .catalog__card > .card-body {
	box-shadow: 0 40px 80px 0 #e6f0f5
}

.catalog__card__bottom {
	align-items: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}

.catalog__card__bottom.catalog__card__bottom_red {
	justify-content: flex-end;
}

.catalog__card__bottom .myBtn {
	margin-bottom: 1rem;
}

.catalog__card__bottom a,
.catalog__card__bottom button {
	display: block;
	width: 100%;
	height: 50px;
	padding: 15px 20px;
}

@media (max-width: 991px) {
	.catalog__card__bottom a,
	.catalog__card__bottom button {
		padding: 15px 20px;
		font-size: 18px;
	}
}

.catalog__card__bottom button {
	background: linear-gradient(180deg,#ff7600 0,#e16800);
	box-shadow: 0 10px 30px 0 rgb(151 151 151 / 50%);
	border-radius: 12px;
	color: #fff;
	line-height: 1;
	text-align: center;
	transition: background .4s ease, box-shadow .4s ease
}

.catalog__card__bottom button:hover {
	background: linear-gradient(180deg,#e16800 0,#ff7600);
	box-shadow: 0 10px 30px 0 rgb(151 151 151 / 50%);
}

.catalog__card__bottom a.pulse {
	display: inline-block;
	background: #5a8a24;
	box-shadow: 0 10px 30px 0 rgb(1,147,154 / 50%);
	border-radius: 12px;
	color: #fff;
	line-height: 1;
	text-align: center;
	transition: background .4s ease, box-shadow .4s ease
}

.catalog__card__bottom a.pulse:hover {
	background: #75b330;
	color: #ffffff;
}

.catalog__card-top {
	margin-bottom: 20px;
	width: 100%
}

.catalog__card-top img {
	width: 100%
}

.catalog__parameter {
	display: flex;
	margin: 0.5rem 0 1rem;
}

.catalog__parameter .catalog__parameter-name {
	color: #333;
	font-size: 17px;
	margin-bottom: 15px
}

.catalog__parameter label {
	display: inline-block;
}

.catalog__input {
	cursor: pointer;
	min-width: calc(100% / 5);
	position: relative;
	text-align: center
}

.catalog__input + .catalog__input {
	margin-left: 5px
}

@media screen and (max-width: 991px) {
	.catalog__input + .catalog__input {
		/*margin-left: 10px;*/
	}
}

.catalog__input > input {
	opacity: 0;
	position: absolute;
	z-index: -1
}

.catalog__input .catalog__input__label {
	border-radius: 6px;
	color: #1D7074;
	display: inline-block;
	font-size: 16px;
	line-height: 25px;
	padding: 5px 11px;
	transition: color .4s ease, background .4s ease, box-shadow .4s ease;
	width: 100%;
		-webkit-box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%);
	-moz-box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%);
	box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%);
}

.catalog__input .catalog__input__label:hover {
	background: #75b330;
	color: #ffffff;
/* 	-webkit-box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%);
	-moz-box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%);
	box-shadow: inset 0 3px 7px 0 rgb(70 75 75 / 30%); */
}

.catalog__input .catalog__input__label span {
	border-bottom: 1px dashed rgba(100, 80, 80, .3)
}

.catalog__input > input:checked ~ .catalog__input__label {
	background: #75b330;/* 	box-shadow: inset 0 3px 7px 0 rgba(70, 75, 75, .3); */
	color: #ffffff;
	cursor: default
}

.catalog__card__price--old {
	font-size: 22px
}

.card-body {
	border: 1px solid transparent;
	border-radius: 25px;
	padding: 20px;
	transition: box-shadow .4s, border .4s
}

.card-body .collapse.show ~ div, .card-body .collapsing ~ div {
	display: none
}

.card-title {
	margin-bottom: 1rem !important;
	color: #140a00;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 5px;
	transition: color .4s ease
}

@media screen and (max-width: 991px) {
	.card-title {
		font-size: 28px;
	}
}

.card-label {
	border: 1px solid #ff7f00;
	border-radius: 5px;
	color: #ff7f00;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
	margin-right: 10px;
	padding: 2px 8px;
	text-transform: uppercase;
	vertical-align: middle
}

.card-text {
	color: #140a00;
	font-size: 17px;
	line-height: 22px;
	margin-bottom: 20px
}

.card-moreDetails {
	text-align: center
}

.card-moreDetails button {
	background-color: transparent;
	border-bottom: 1px dashed rgba(100, 80, 80, .3);
	color: #140a00;
	font-size: 17px;
	line-height: 22px;
	margin: 20px 0
}

.card-info-characteristics {
	margin-bottom: 20px
}

.card-info-characteristics-item {
	align-items: center;
	display: flex;
	margin-bottom: 5px
}

.card-info-characteristics-item-icon {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-right: 5px;
	text-align: center;
	min-width: 24px
}

.card-info-characteristics-item-icon .fa-arrows-alt-h,
.card-info-characteristics-item-icon .fa-arrows-alt-v,
.card-info-characteristics-item-icon .fa-igloo {
	min-width: 24px;
	height: 1.5rem;
	margin-right: 10px;
	color: #979797;
	font-size: 22px;
}

.card-info-carcass {
	color: #140a00;
	font-size: 17px;
	margin-bottom: 1rem;
}

.card-info-carcass p {
	margin-bottom: 10px;
}

.card-info-carcass .all_attributes {
	display: block;
	margin-bottom: 1rem;
	padding: 0;
	background-color: transparent;
	color: #1D7074;
}

.card-info-carcass .all_attributes:hover {
	color: #01939a !important;
	text-decoration: underline;
	cursor: pointer;
}

.calculator-price {
	display: none;
	font-size: 38px;
	font-weight: 700;
	line-height: 1
}

#attributesModal .get_present,
#attributesModal p {
	font-size: 14px;
	line-height: 1.47;
}

#attributesModal p {
	margin-bottom: 10px;
}

#attributesModal .get_present {
	display: block;
	width: max-content;
	margin: 0 auto;
	padding: 15px 20px;
	color: #ffffff;
	background: linear-gradient(180deg,#ff7600 0,#e16800);
	border-radius: 8px;
}
#attributesModal .get_present:hover {
	background: linear-gradient(180deg,#e16800 0,#ff7600);
}

@media screen and (max-width: 991px) {
	.calculator-price {
		margin: 1rem 0;
		font-size: 30px;
	}
}

.calculator-price.active {
	display: inline-block;
}

.modal-container {
	display: flex;
	padding-bottom: 100px;
	position: relative
}

@media screen and (max-width: 991px) {
	.modal-container {
		flex-direction: column;
		padding-bottom: 0
	}
}

.card__modal-left {
	align-items: flex-start;
	display: flex;
	max-height: 500px;
	width: 50%
}

@media screen and (max-width: 991px) {
	.card__modal-left {
		display: block;
		margin-bottom: 20px;
		max-height: none;
		width: 100%
	}
}


.catalog__card__bottom_red button {
	background: #960a19;
	border-radius: 12px;
	box-shadow: 0 5px 15px 0 rgb(150 10 25 / 50%);
	color: #fff;
	font-size: 15px;
	height: 40px;
	line-height: 1;
	padding: 10px 12px;
	font-weight: bold;
	text-align: center;
	transition: background .4s ease, box-shadow .4s ease;
}

.catalog__card__bottom_red button:hover {
	background: linear-gradient(50deg, #964048 0, #963e46);
	box-shadow: 0 7px 15px 0 rgb(180 50 67 / 40%);
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 3rem auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	max-width: 600px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 27px;
}

.modal__title {
	font-size: 32px;
	line-height: 1.2;
	text-align: center;
}

@media screen and (max-width: 991px) {
	.modal__title, .price-value {
		font-size: 20px !important; 
		line-height: 1.47 !important;
	}
}

.modal-content a.phone_link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	font-size: 32px;
	font-weight: bold;
	color: #000;
}

@media screen and (max-width: 991px) {
	.modal-content a.phone_link {
		font-size: 18px;
	}
}

.modal-content a.phone_link img {
	margin-right: 1rem;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.price-value {
	color: #960a19;
	font-size: 96px;
	font-weight: 700;
	line-height: 86px;
	margin-bottom: 20px;
	position: relative;
	text-shadow: 0 6px 15px rgb(150 10 25 / 30%);
}

.wpcf7-spinner {
	display: none;
}

<<<<<<< HEAD
.wpcf7-submit {
	display: block;
	margin: 0 auto;
=======
.wpcf7-form .wpcf7-submit {
	display: block !important;
	margin: 0 auto;
	background: linear-gradient(180deg,#ff7600 0,#e16800) !important;
}


@media (max-width: 991px) {
	.price-wrapp {
		display: flex;
		flex-direction: column;
	}
	
	.catalog__card__price, 
	.catalog__card__bottom {
		order: 1;
	}
	.catalog__card__bottom.catalog__card__bottom_red {
		order: 2;
	}
>>>>>>> e9f9db5 (add material type)
}